/*标题栏*/
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #506EE0;
    height: 2.8rem;
    padding: 0 0.8rem;
}
.name{
    color: #fff;
    font-size: 1rem;
}
.search{
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.5rem;
    vertical-align: top;
}
.message{
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: top;
}

/*课程和考试入口*/
.section2{
    margin-top: 0.8rem;
}
.section2 .item-left{
    box-shadow: 0 1.2rem 2rem #CDD6F5;
}
.section2 .item-right{
    box-shadow: 0 1.2rem 2rem #FFF3E5;
}
.section2 .content{
    vertical-align: top;
}
.section2 .item{
    width: 7.8rem;
    height: 4.4rem;
    margin-left: 0.8rem;
    box-sizing: border-box;
    border-radius: 0.2rem;
    justify-content: center;
    align-items: center;
}
.section2 img{
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
}
.section2 .type{
    font-weight: bold;
    line-height: 1.2rem;
}
.section2 .type, .section2 .number{
    font-size: 0.8rem;
}
.section2 .number{
    color: #333333;
}
.item-left{
    background: #EDF0FB;
    border: 0.05rem solid #CDD6F5;
}
.item-left .type{
    color: #506EE0;
}
.item-right{
    background: #FFF3E5;
    border: 0.05rem solid #FFD4B7;
}
.item-right .type{
    color: #FF6700;
}

/**/
.section3{
    /*justify-content: space-between;*/
    margin-top: 1.2rem;
}